{% extends 'generic/object.html' %}

<!-- for rules count -->
{% load render_table from django_tables2 %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Ticket List</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Name</th>
              <td>{{ object.ticket_id }}</td>
            </tr>

            <tr>
              <th scope="row">Status</th>
              <td>{{ object.status }}</td>
            </tr>

            <tr>
              <th scope="row">Description</th>
              <td>{{ object.description }}</td>
            </tr>
            
            <tr>
              <th scope="row">ID directum</th>
              <td>{{ object.id_directum }}</td>
            </tr>

            <tr>
              <th scope="row">Rules</th>
              <td>{{ object.rules.count }}</td>
            </tr>

          </table>
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
      

      <div class="card">
        <h5 class="card-header">
          Files
        </h5>

          <div class="card-body">
          <table class="table table-hover">
            <tbody><tr>
              <th>Name</th>
              <th>Created</th>
              <th></th>
            </tr>
            {% for i in files %}
              <tr>
                <td>
                  <i class="mdi mdi-file-image-outline"></i>
                  <a class="image-preview" href="/static/{{ i.file }}" target="_blank" data-bs-original-title="" title="">{{ i.file }}</a>
                </td>
                <td><span title="{{i.created}}">{{i.created}}</span></td>
                <td class="text-end noprint">
                  
                    <a href="/plugins/ticket-firewall/attachfile/{{ i.id }}/edit/" class="btn btn-warning btn-sm lh-1" title="Edit Image">
                      <i class="mdi mdi-pencil" aria-hidden="true"></i>
                    </a>
                  
                  
                    <a href="/plugins/ticket-firewall/attachfile/{{ i.id }}/delete/" class="btn btn-danger btn-sm lh-1" title="Delete Image">
                      <i class="mdi mdi-trash-can-outline" aria-hidden="true"></i>
                    </a> 
                  
                </td>
              </tr>
            {% endfor %}
          </tbody></table>
    </div>

















        <div class="card-footer text-end noprint">
          <a href="/plugins/ticket-firewall/attachfile/add/?ticket_id={{object.id}}" class="btn btn-primary btn-sm">
            <i class="mdi mdi-plus-thick" aria-hidden="true"></i> Attach a file
          </a>
        </div>

      </div>

      
    </div>
  </div>



  <div class="row">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">Rules 
          <a href="/plugins/ticket-firewall/rules/add/?ticket_id={{object.id}}" type="button" class="btn btn-sm btn-success">
            <i class="mdi mdi-plus-thick"></i> Add
          </a>
        </h5>
        <div class="card-body table-responsive">
          {% render_table rules_table %}
        </div>
      </div>
    </div>


    
  </div>
{% endblock content %}

<!-- <a href="/plugins/ticket-firewall/rules/add/" type="button" class="btn btn-sm btn-success"> -->